@font-face {
	font-family: 'Conv_Win_20_db_regular-W';
	src: url('../fonts/Win_20_db_regular-W.eot');
	src: local('☺'), url('../fonts/Win_20_db_regular-W.woff') format('woff'), url('../fonts/Win_20_db_regular-W.ttf') format('truetype'), url('../fonts/Win_20_db_regular-W.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Win_20_db_regular-W';
	src: url('../fonts/Win_20_db_regular-W.eot');
	src: local('☺'), url('../fonts/Win_20_db_regular-W.woff') format('woff'), url('../fonts/Win_20_db_regular-W.ttf') format('truetype'), url('../fonts/Win_20_db_regular-W.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

body {
 
  font-family: 'Conv_Win_20_db_regular-W';
   font-weight: bold;
   font-style: italic;

}

p {
  color: red;
}
.test {
  background-color: blue;
  color: white;
}
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  width: 300px;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}